<!DOCTYPE html>
<html>
<head>
    <title>Transformation Complete!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/style/CodeMirror/codemirror.css">
    <link href="/bootstrap/css/data_mapper.css" rel="stylesheet" media="screen">
    <script src="/style/CodeMirror/codemirror.js"></script>
    <script src="/style/CodeMirror/runmode.js"></script>
    <script src="/style/CodeMirror/xml.js"></script>
</head>
<body>

<div class="container-narrow" style="max-width: 98%">

    <div id="inInputXml" style="display:none">
{{ @input_data_xml }}
    </div>
    <div id="inOutputXml" style="display:none">
{{ @transformed_data_xml }}
    </div>

    <h3>Transformation complete!</h3>
    <p><a href="/">Try another!</a></p>
    <p><a href="/worksheet/{{ @worksheet }}">Download your worksheet</a></p>

    <div style="float:left; width: 47%; margin-right: 25px">
        <h5>Input XML</h5>
        <pre id="outInputXml" class="cm-s-default" style="margin-right: 25px;"></pre>
    </div>
    <div style="float:left; width: 47%; ">
        <h5>Transformed XML <!--&nbsp;<a href="/xml/{{@worksheet}}">Download</a>--></h5>
        <pre id="outOutputXml" class="cm-s-default"></pre>
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    CodeMirror.runMode($('#inInputXml').html(), "application/xml", document.getElementById("outInputXml"));
    CodeMirror.runMode($('#inOutputXml').html(), "application/xml", document.getElementById("outOutputXml"));
});
</script>
</body>
</html>



