<!DOCTYPE html>
<html>
<head>
    <title>Map Me!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/data_mapper.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-narrow">
    <h3>You're asking about {{ @module }}</h3>

    <div class="col1">
        <p>We detected your <span class="worksheet_record">record</span> nodes can be found xpath =>  <b>{{ @xpath }}</b></p>
        <p>We've detected these fields in your <span class="worksheet_record">record</span>:</p>
        <ul>
            <repeat group="{{ @record_fields }}" value="{{ @field }}">
                <li>{{ trim(@field) }}</li>
            </repeat>
        </ul>
    </div>

    <form method="POST" action="/mapped" id="mapped">
    <div class="col2">
            <input type="hidden" name="module" value="{{@module}}"/>
            <input type="hidden" name="xpath" value="{{@xpath}}"/>
            <input type="hidden" name="tmp_file" value="{{@tmp_file}}"/>
            <h5 style="margin-top: 0">Please map them to our schema for {{ @module }}</h5>
            <ul>
                <repeat group="{{ @schema['fields'] }}" value="{{ @field }}">
                    <li>{{ trim(@field['name']) }}
                        <select name="{{ trim(@field['name']) }}" form="mapped">
                            <option value="-">-</option>
                            <repeat group="{{ @record_fields }}" value="{{ @rfield }}">
                                <option value="{{ trim(@rfield) }}">{{ trim(@rfield) }}</option>
                            </repeat>
                        </select><br/>
                    </li>
                </repeat>
            </ul>
            <h5>Worksheet Name (optional): <input type="text" name="ws_name" width="76" /></h3>
            <span style="width:400px; padding-left: 120px"><input type="submit" class="btn" value="submit"/> </span>
        </form>
    </div>

</div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>